{% load static %} {% load sass_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>Solution Manager</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'style/global.scss' %}"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <h1>Solution Manager</h1>
      <div class="links">
        <ul>
          <li><a href="{% url 'main:dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'main:project_list' %}">Projects</a></li>
        </ul>
        <a class="icon button settings" href="" aria-label="Settings"></a>
      </div>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
