@use "colors";

.icon {
    content: "";
    display: inline-block;

    width: 1.5rem;
    height: 1.5rem;

    background: none;
    background-color: $color-accent;
    background-size: cover;
    background-position: center;

    &.button {
        cursor: pointer;
        
        filter: brightness(120%);
        &:hover {
            filter: brightness(100%);
        }
        &:active {
            filter: brightness(80%);
        }
    }
}

@mixin icon-url($url) {
    -webkit-mask-image: url($url);
    mask-image: url($url);
}

@each $icon in get-setting(ICON_LIST) {
    #{".icon." + $icon} {
        @include icon-url(#{"/icon/" + $icon + ".svg"});
    }
}

