{% extends "base.html" %} {% load sass_tags %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'style/project_list.scss' %}"
/>
{% endblock %} {% block content %}
<a class="icon button add" href="/projects/create">Create a new project...</a>
<ul id="project-list">
  {% for project in projects %}
  <li class="project">
    <a href="{% url 'main:project_detail' project.id %}">
      <h2>{{ project.name }}</h2>
      <p>{{ project.description }}</p>
      <div class="duration"></div>
      <p class="start">{{ project.start_date }}</p>
      <p class="end">{{ project.end_date }}</p>
    </a>

    <form class="button" method="post" action="{% url 'main:project_list' %}">
      {% csrf_token %}
      <input type="hidden" name="project_id" value="{{ project.id }}" />
      <input
        class="button clear icon delete"
        type="submit"
        aria-label="Delete project"
        name="delete"
        value=""
      />
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
