$color-accent: hsl(180, 100%, 25%);
$color-accent-light: hsl(180, 36%, 44%);
$color-accent-dark: hsl(180, 71%, 23%);

$color-secondary: hsl(30, 79%, 55%);
$color-secondary-light: hsl(30, 68%, 63%);
$color-secondary-dark: hsl(30, 62%, 45%);

$color-text: hsl(0, 0%, 10%);
$color-background: hsl(0, 0%, 90%);
$color-bg-1: hsl(0, 0%, 85%);
$color-bg-2: hsl(0, 0%, 75%);
$color-bg-3: hsl(0, 0%, 24%);
