@import "colors";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "text.scss";

ul {
    list-style: none;
}

nav {
    background-color: $color-accent-dark;
    display: flex;
    justify-content: space-between;
    padding-inline: 0.5rem;

    h1 {
        font-size: 2rem;
        color: $color-bg-1;
        padding-block: 0.5rem;
    }

    .links {
        display: flex;
        gap: 1rem;

        ul {
            display: flex;
            gap: 0.5rem;
    
            height: min-content;
            margin-block: auto;
    
            list-style: none;
    
            li {
                display: block;
                height: min-content;
    
                a {
                    display: block;
                    color: $color-bg-1;
                    font-size: 1.5rem;
                    font-family: $font-accent;
    
                    &:active {
                        color: $color-accent-light
                    }
                }
            }
        }

        a {
            
        }
    }

    a.settings {
        background-color: $color-bg-1;
        margin-block: auto;
    }
}

.project-list {
    display: flex;

    &.dashboard {
        flex-direction: row;

        li.project {
            display: block;
            width: 80ch;

            p.description {
                text-overflow: ellipsis;
                max-width: 4rem;
                max-height: 2rem;
            }
        }
    }
}

form.action {
    margin: auto;
    width: min-content;
    height: min-content;
}

@import "icons.scss";
