{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Solution Manager{% endblock %}</title>
    <meta name="description" content={% block head_description %}"A solution management application"{% endblock %}>
    <meta name="author" content="Tin Svagelj" />

    <link rel="icon" type="image/png" href="https://global.discourse-cdn.com/business7/uploads/djangoproject/optimized/1X/d7166b07bd538877fa4b0236f0fb5410098bda98_2_32x32.png">

    <link
      rel="stylesheet"
      type="text/css"
      href="{% sass_src 'style/global.sass' %}"
    />
    {% component_css_dependencies %}
  </head>
  <body>
    <nav>
      <h1><a href="{% url 'main:dashboard' %}">Solution Manager</a></h1>
      {% block navbar %}
      <ul class="links">
        <li><a href="{% url 'main:dashboard' %}">Home</a></li>
        <li><a href="{% url 'main:team_list' %}">Teams</a></li>
        <li><a href="{% url 'main:project_list' %}">Projects</a></li>
        <li><a href="{% url 'main:user_list' %}">Users</a></li>
        <li><a href="{% url 'main:team_form' %}">New Team</a></li>
        <li><a href="{% url 'main:project_form' %}">New Project</a></li>
      </ul>
      {% endblock %}
      <div class="user-details">
      {% if user.is_authenticated %}
        <p aria-label="username">{{ user.username }}</p>
        <a href="{% url 'main:logout' %}?next={{ request.path }}">Logout</a>
      {% else %}
        <a href="{% url 'main:signup' %}">Signup</a>
        <a href="{% url 'main:login' %}">Login</a>
      {% endif %}
      </div>
    </nav>
    {% component "search" %}
    <main class="content">{% block content %}{% endblock %}</main>
    {% component_js_dependencies %}
  </body>
</html>
