<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Solution Manager{% endblock %}</title>
    <meta name="description" content={% block head_description %}"A solution
    management application"{% endblock %}>
    <meta name="author" content="Tin Svagelj" />
  </head>
  <body>
    <h1><a href="{% url 'main:dashboard' %}">Issue Tracker</a></h1>
    <nav id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="{% url 'main:dashboard' %}">Home</a></li>
        <li><a href="{% url 'main:team_list' %}">Teams</a></li>
        <li><a href="{% url 'main:project_list' %}">Projects</a></li>
        <li><a href="{% url 'main:user_list' %}">Users</a></li>
      </ul>
      {% endblock %}
    </nav>
    <main class="content">{% block content %}{% endblock %}</main>
  </body>
</html>
